In [8]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [9]:
# Load the geometries
runways = gpd.read_file('engage-hackaton/runways.geojson')
thresholds = gpd.read_file('engage-hackaton/thresholds.geojson')

# Load the scenario
scenario = pd.read_parquet('engage-hackaton/samples/sample_scenario_00.parquet')
scenario

,df,squawk,bds60_bds,bds60_heading,bds60_IAS,bds60_Mach,bds60_vrate_barometric,bds60_vrate_inertial,icao24,ts,...,heading,TAS,bds30_bds,bds30_issued_ra,bds30_terminated,bds30_multiple,year,month,day,hour
473055,20,<NA>,60,232.207031,263.0,0.776,-288.0,0.0,344699,1737545255855,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473056,21,4516,<NA>,NaN,NaN,NaN,NaN,NaN,407fc1,1737545255855,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473057,21,2203,<NA>,NaN,NaN,NaN,NaN,NaN,3964f1,1737545255855,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473058,20,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,49514b,1737545255855,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473059,21,6012,<NA>,NaN,NaN,NaN,NaN,NaN,344345,1737545255855,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679258,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,343141,1737545375089,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679259,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,3991e2,1737545375089,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679260,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,346384,1737545375089,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679261,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,346555,1737545375089,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679262,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,34754c,1737545375089,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11

In [10]:
first_day_last_hour = pd.read_parquet('data/year=2024/month=11/day=16/hour=23/7fa82f924eb24a429fa321d057d2efd5.snappy.parquet')
first_day_last_hour

,df,squawk,bds60_bds,bds60_heading,bds60_IAS,bds60_Mach,bds60_vrate_barometric,bds60_vrate_inertial,icao24,ts,...,bds05_NICb,bds05_altitude,bds05_source,bds05_parity,bds05_lat_cpr,bds05_lon_cpr,bds40_target_source,bds21_bds,bds21_registration,bds17_bds53
0,21,3352,60,67.148438,245.0,0.744,32.0,0.0,4ca25a,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
1,17,None,None,NaN,NaN,NaN,NaN,NaN,407e63,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
2,17,None,None,NaN,NaN,NaN,NaN,NaN,3c5429,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
3,20,None,None,NaN,NaN,NaN,NaN,NaN,4ca25a,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
4,20,None,None,NaN,NaN,NaN,NaN,NaN,4ca9c1,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417523,20,None,60,0.527344,NaN,NaN,NaN,NaN,342107,1731801599678,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417524,21,2000,60,NaN,NaN,NaN,NaN,0.0,342107,1731801599678,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417525,20,None,None,NaN,NaN,NaN,NaN,NaN,342107,1731801599678,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417526,20,None,60,0.527344,NaN,NaN,NaN,NaN,344498,1731801599679,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417527,20,None,None,NaN,NaN,NaN,NaN,NaN,346385,1731801599679,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None

In [43]:
print(sorted(first_day_last_hour.columns.tolist()))
print(sorted(scenario.columns.tolist()))

['BAI', 'GVA', 'HRD', 'NACp', 'NACv', 'NICa', 'NICb', 'NUCp', 'SIL', 'SILs', 'TAH', 'alt_hold', 'altitude', 'approach_mode', 'autopilot', 'barometric_setting', 'bds', 'bds05_NICb', 'bds05_NUCp', 'bds05_altitude', 'bds05_lat_cpr', 'bds05_lon_cpr', 'bds05_parity', 'bds05_source', 'bds05_tc', 'bds10_acas', 'bds10_acas_hybrid', 'bds10_acas_ra', 'bds10_bds', 'bds10_config', 'bds10_dte', 'bds10_gicb', 'bds10_identification', 'bds10_level5', 'bds10_mode_s', 'bds10_ovc', 'bds10_sic', 'bds10_squitter', 'bds10_subnet', 'bds17_bds', 'bds17_bds05', 'bds17_bds06', 'bds17_bds07', 'bds17_bds08', 'bds17_bds09', 'bds17_bds0a', 'bds17_bds20', 'bds17_bds21', 'bds17_bds40', 'bds17_bds41', 'bds17_bds42', 'bds17_bds43', 'bds17_bds44', 'bds17_bds48', 'bds17_bds50', 'bds17_bds51', 'bds17_bds52', 'bds17_bds53', 'bds17_bds5f', 'bds17_bds60', 'bds20_bds', 'bds20_callsign', 'bds21_bds', 'bds21_registration', 'bds40_barometric_setting', 'bds40_bds', 'bds40_selected_fms', 'bds40_selected_mcp', 'bds40_target_source', 'bds44_bds', 'bds44_humidity', 'bds44_pressure', 'bds44_temperature', 'bds44_turbulence', 'bds44_wind_direction', 'bds44_wind_speed', 'bds45_bds', 'bds45_icing', 'bds45_microburst', 'bds45_radio_height', 'bds45_static_pressure', 'bds45_static_temperature', 'bds45_turbulence', 'bds45_wake_vortex', 'bds45_wind_shear', 'bds50_TAS', 'bds50_bds', 'bds50_groundspeed', 'bds50_roll', 'bds50_track', 'bds50_track_rate', 'bds60_IAS', 'bds60_Mach', 'bds60_bds', 'bds60_heading', 'bds60_vrate_barometric', 'bds60_vrate_inertial', 'callsign', 'df', 'emergency_state', 'geo_minus_baro', 'groundspeed', 'icao24', 'id', 'lat_cpr', 'lat_deg', 'lnav_mode', 'lon_cpr', 'lon_deg', 'parity', 'selected_altitude', 'selected_heading', 'source', 'squawk', 'subtype', 'tc', 'tcas_operational', 'tisb', 'track', 'ts', 'version', 'vertical_rate', 'vnav_mode', 'vrate_src', 'wake_vortex']
['BAI', 'BAQ', 'GVA', 'HRD', 'NACp', 'NACv', 'NICa', 'NICb', 'NICs', 'NUCp', 'SIL', 'SILs', 'TAH', 'TAS', 'alt_hold', 'altitude', 'approach_mode', 'autopilot', 'barometric_setting', 'bds', 'bds05_NICb', 'bds05_NUCp', 'bds05_altitude', 'bds05_lat_cpr', 'bds05_lon_cpr', 'bds05_parity', 'bds05_source', 'bds05_tc', 'bds10_acas', 'bds10_acas_hybrid', 'bds10_acas_ra', 'bds10_bds', 'bds10_config', 'bds10_dte', 'bds10_gicb', 'bds10_identification', 'bds10_level5', 'bds10_mode_s', 'bds10_ovc', 'bds10_sic', 'bds10_squitter', 'bds10_subnet', 'bds17_bds', 'bds17_bds05', 'bds17_bds06', 'bds17_bds07', 'bds17_bds08', 'bds17_bds09', 'bds17_bds0a', 'bds17_bds20', 'bds17_bds21', 'bds17_bds40', 'bds17_bds41', 'bds17_bds42', 'bds17_bds44', 'bds17_bds45', 'bds17_bds48', 'bds17_bds50', 'bds17_bds51', 'bds17_bds52', 'bds17_bds53', 'bds17_bds5f', 'bds17_bds60', 'bds18_bds', 'bds18_bds05', 'bds18_bds06', 'bds18_bds07', 'bds18_bds08', 'bds18_bds09', 'bds18_bds0a', 'bds18_bds10', 'bds18_bds17', 'bds18_bds18', 'bds18_bds19', 'bds18_bds1c', 'bds18_bds20', 'bds18_bds21', 'bds18_bds30', 'bds19_bds', 'bds19_bds40', 'bds19_bds50', 'bds19_bds51', 'bds19_bds52', 'bds19_bds5f', 'bds19_bds60', 'bds19_bds61', 'bds19_bds62', 'bds19_bds65', 'bds20_bds', 'bds20_callsign', 'bds21_bds', 'bds21_registration', 'bds30_bds', 'bds30_issued_ra', 'bds30_multiple', 'bds30_terminated', 'bds40_barometric_setting', 'bds40_bds', 'bds40_selected_fms', 'bds40_selected_mcp', 'bds40_target_source', 'bds44_bds', 'bds44_humidity', 'bds44_pressure', 'bds44_temperature', 'bds44_turbulence', 'bds44_wind_direction', 'bds44_wind_speed', 'bds45_bds', 'bds45_icing', 'bds45_microburst', 'bds45_radio_height', 'bds45_static_pressure', 'bds45_static_temperature', 'bds45_turbulence', 'bds45_wake_vortex', 'bds45_wind_shear', 'bds50_TAS', 'bds50_bds', 'bds50_groundspeed', 'bds50_roll', 'bds50_track', 'bds50_track_rate', 'bds60_IAS', 'bds60_Mach', 'bds60_bds', 'bds60_heading', 'bds60_vrate_barometric', 'bds60_vrate_inertial', 'callsign', 'day', 'df', 'emergency_state', 'geo_minus_baro', 'groundspeed', 'heading', 'hour', 'icao24', 'id', 'lat_cpr', 'lat_deg', 'lnav_mode', 'lon_cpr', 'lon_deg', 'month', 'parity', 'selected_altitude', 'selected_heading', 'source', 'squawk', 'subtype', 'tc', 'tcas_operational', 'tisb', 'track', 'ts', 'version', 'vertical_rate', 'vnav_mode', 'vrate_src', 'wake_vortex', 'year']

In [63]:
scenario.dropna(axis=1)

        df  icao24             ts  year month day hour
473055  20  344699  1737545255855  2025     1  22   11
473056  21  407fc1  1737545255855  2025     1  22   11
473057  21  3964f1  1737545255855  2025     1  22   11
473058  20  49514b  1737545255855  2025     1  22   11
473059  21  344345  1737545255855  2025     1  22   11
...     ..     ...            ...   ...   ...  ..  ...
679258  17  343141  1737545375089  2025     1  22   11
679259  17  3991e2  1737545375089  2025     1  22   11
679260  17  346384  1737545375089  2025     1  22   11
679261  17  346555  1737545375089  2025     1  22   11
679262  17  34754c  1737545375089  2025     1  22   11

[45235 rows x 7 columns]

In [64]:
first_day_last_hour.dropna(axis=1)

        df  icao24             ts
0       21  4ca25a  1731798000264
1       17  407e63  1731798000264
2       17  3c5429  1731798000264
3       20  4ca25a  1731798000264
4       20  4ca9c1  1731798000264
...     ..     ...            ...
417523  20  342107  1731801599678
417524  21  342107  1731801599678
417525  20  342107  1731801599678
417526  20  344498  1731801599679
417527  20  346385  1731801599679

[417528 rows x 3 columns]

In [74]:
scenario["track"].unique()

array([         nan, 212.0523213 ,   8.87328423, ..., 103.31246561,
       174.13520209,  17.54483178], shape=(1925,))

In [77]:
scenario["selected_heading"].unique()

array([       nan,   0.      , 195.46875 , 270.      , 180.      ,
        42.890625, 352.96875 , 254.53125 , 220.78125 , 217.265625,
        83.671875, 165.9375  , 149.0625  ,  35.859375, 184.21875 ,
       194.765625, 193.359375, 236.25    ,   2.8125  , 244.6875  ,
       198.28125 , 198.984375, 250.3125  ,  21.796875, 101.25    ,
       201.09375 , 170.15625 , 149.765625, 175.078125,  66.796875,
         7.734375, 151.171875, 215.15625 , 194.0625  , 108.984375,
       101.953125,  26.015625, 208.828125, 110.390625,  73.828125,
       187.03125 , 102.65625 , 186.328125, 109.6875  , 258.75    ,
       167.34375 , 185.625   , 196.875   ,  25.3125  , 191.953125,
       188.4375  , 187.734375, 104.0625  , 245.390625, 255.234375,
       189.140625,  45.703125, 257.34375 , 199.6875  ,  30.9375  ,
       206.015625,  59.0625  ,  85.078125, 200.390625,  26.71875 ,
       197.578125, 172.96875 , 246.09375 ,  57.65625 , 111.09375 ,
       196.171875, 190.546875, 191.25    , 189.84375 , 239.765625])

In [79]:
scenario["bds60_heading"].unique()

array([2.32207031e+02,            nan, 3.54550781e+02, 2.52773438e+02,
       1.58203125e+00, 2.66308594e+02, 2.53125000e+01, 6.66210938e+01,
       4.92187500e+00, 1.49062500e+02, 1.51171875e+01, 1.83691406e+02,
       1.87382812e+02, 1.89316406e+02, 3.58242188e+02, 2.95664062e+02,
       1.93359375e+00, 2.52597656e+02, 2.17968750e+02, 2.74218750e+02,
       1.93183594e+02, 1.99335938e+02, 1.52929688e+01, 2.45917969e+02,
       1.66464844e+02, 3.03925781e+02, 2.16210938e+01, 2.17968750e+01,
       3.70898438e+01, 3.53144531e+02, 2.23066406e+02, 3.84960938e+01,
       3.58769531e+02, 6.67968750e+01, 3.69140625e+01, 2.74394531e+02,
       2.31855469e+02, 2.44335938e+02, 2.21484375e+02, 1.70156250e+02,
       2.28515625e+00, 9.07031250e+01, 2.54531250e+02, 1.82109375e+02,
       3.18164062e+01, 2.21308594e+02, 2.19726562e+02, 2.54882812e+01,
       2.65429688e+02, 2.44511719e+02, 3.03574219e+02, 3.59472656e+02,
       2.49785156e+02, 2.83007812e+02, 1.99160156e+02, 9.21093750e+01,
       1.49238281e+02, 8.78906250e-01, 2.32910156e+02, 3.16406250e+01,
       2.26757812e+02, 1.93359375e+02, 1.95117188e+02, 2.95839844e+02,
       2.17089844e+02, 1.69980469e+02, 1.08984375e+02, 2.82832031e+02,
       3.03046875e+02, 2.15683594e+02, 6.62695312e+01, 1.86328125e+02,
       2.16386719e+02, 8.03320312e+01, 2.35722656e+02, 6.64453125e+01,
       2.96015625e+02, 2.18144531e+02, 2.31328125e+02, 1.40625000e+00,
       1.49589844e+02, 2.19550781e+02, 1.83164062e+02, 1.66992188e+01,
       2.09707031e+02, 5.27343750e-01, 1.51171875e+02, 3.55253906e+02,
       2.23242188e+02, 2.69472656e+02, 2.54707031e+02, 2.65781250e+02,
       1.69804688e+02, 3.69140625e+00, 2.10058594e+02, 2.10937500e+00,
       2.70175781e+02, 2.52949219e+02, 2.08652344e+02, 1.93007812e+02,
       1.87207031e+02, 3.02871094e+02, 1.90722656e+02, 2.48730469e+02,
       8.50781250e+01, 2.75097656e+02, 0.00000000e+00, 8.05078125e+01,
       2.96191406e+02, 2.56640625e+01, 3.04453125e+02, 2.08476562e+02,
       1.93886719e+02, 2.52421875e+02, 1.83515625e+02, 1.75781250e+00,
       9.05273438e+01, 3.14648438e+01, 2.13925781e+02, 1.87558594e+02,
       2.21660156e+02, 4.21875000e+00, 1.49941406e+02, 3.16406250e+00,
       2.12871094e+02, 2.30976562e+02, 1.02128906e+02, 3.02343750e+01,
       1.98808594e+02, 4.74609375e+00, 1.45898438e+01, 1.47656250e+02,
       8.40234375e+01, 2.65605469e+02, 5.27343750e+00, 1.09511719e+02,
       2.45742188e+02, 1.90898438e+02, 3.03398438e+02, 9.10546875e+01,
       2.22890625e+02, 4.20117188e+01, 2.12695312e+01, 8.38476562e+01,
       2.98828125e+00, 2.26933594e+02, 8.06835938e+01, 2.58398438e+01,
       2.44160156e+02, 1.52929688e+02, 1.85976562e+02, 2.82656250e+02,
       1.22167969e+02, 2.50136719e+02, 2.17441406e+02, 2.35195312e+02,
       3.30468750e+01, 2.49960938e+02, 1.56445312e+01, 2.52246094e+02,
       1.09335938e+02, 1.80703125e+02, 1.89843750e+02, 3.04101562e+02,
       2.08125000e+02, 2.05664062e+01, 2.35019531e+02, 2.52070312e+02,
       1.81230469e+02, 1.66816406e+02, 1.19531250e+01, 1.09160156e+02,
       1.90546875e+02, 2.27109375e+02, 4.00781250e+01, 3.51562500e+00,
       3.07617188e+01, 2.50664062e+02, 2.54179688e+02, 2.16562500e+02,
       2.74570312e+02, 3.04277344e+02, 6.59179688e+01, 1.52578125e+02,
       1.52226562e+02, 2.60156250e+01, 1.40625000e+01, 3.03222656e+02,
       1.54687500e+01, 2.07773438e+02, 2.19902344e+02, 2.70000000e+02,
       4.51757812e+01, 8.96484375e+01, 2.10937500e+02, 6.34570312e+01,
       1.93535156e+02, 2.07421875e+01, 6.32812500e+01, 2.45566406e+02,
       4.90429688e+01, 1.51523438e+02, 1.80351562e+02, 1.84921875e+02,
       3.01992188e+02, 2.32031250e+02, 2.19726562e+01, 1.88085938e+02,
       2.63671875e+01, 3.33984375e+00, 9.03515625e+01, 1.44140625e+01,
       3.01816406e+02, 2.11113281e+02, 1.42382812e+01, 5.81835938e+01,
       1.84042969e+02, 2.22539062e+02, 2.81250000e+00, 1.86503906e+02,
       3.51386719e+02, 3.59824219e+02, 2.62617188e+02, 1.10039062e+02,
       2.18320312e+02, 3.50332031e+02, 1.94941406e+02, 9.14062500e+01,
       2.54003906e+02, 2.45390625e+02, 1.10214844e+02, 2.33261719e+02,
       5.34375000e+01, 8.08593750e+01, 1.32011719e+02, 1.75078125e+02,
       1.91074219e+02, 1.62421875e+02, 6.09960938e+01, 1.99511719e+02,
       2.18496094e+02, 2.26582031e+02, 1.81582031e+02, 4.04296875e+00,
       2.23242188e+01, 9.01757812e+01, 2.07597656e+02, 2.71230469e+02,
       3.02167969e+02, 2.36074219e+02, 1.74902344e+02, 2.26406250e+02,
       3.97265625e+01, 2.96367188e+02, 6.02929688e+01, 2.17265625e+02,
       3.01640625e+02, 3.59121094e+02, 1.91777344e+02, 1.31835938e+02,
       6.01171875e+01, 2.06718750e+02, 2.74921875e+02, 1.57324219e+02,
       2.35898438e+02, 2.51894531e+02, 1.23398438e+02, 1.03359375e+02,
       3.04628906e+02, 1.99863281e+02, 2.82480469e+02, 2.31503906e+02,
       3.19921875e+01, 2.61738281e+02, 2.49609375e+02, 3.54726562e+02,
       2.15859375e+02, 3.03750000e+02, 1.49414062e+01, 3.52968750e+02,
       3.00585938e+02, 1.13906250e+02, 4.57031250e+00, 1.98281250e+02,
       4.86914062e+01, 3.67382812e+01, 2.73339844e+02, 2.54355469e+02,
       4.39453125e+00, 1.75781250e-01, 2.49433594e+02, 1.01601562e+02,
       2.11640625e+02, 2.14453125e+01, 3.00585938e+01, 2.31152344e+02,
       2.46093750e+00, 2.44687500e+02, 2.54882812e+02, 1.28320312e+01,
       4.37695312e+01, 1.89140625e+02, 8.52539062e+01, 4.21875000e+01,
       1.66289062e+02, 5.36132812e+01, 1.98984375e+02, 8.43750000e+01,
       2.75449219e+02, 3.01113281e+02, 2.00742188e+02, 3.57363281e+02,
       4.04296875e+01, 2.10234375e+02, 2.08300781e+02, 1.19707031e+02,
       2.10761719e+02, 2.12167969e+02, 1.51875000e+02, 2.25703125e+02,
       2.75273438e+02, 3.22734375e+02, 3.55429688e+02, 3.53320312e+02,
       2.14453125e+02, 4.06054688e+01, 2.21132812e+02, 2.34843750e+02,
       2.67011719e+02, 4.69335938e+01, 7.03125000e+00, 2.66660156e+02,
       1.94062500e+02, 3.58417969e+02, 1.02304688e+02, 3.26953125e+01,
       3.49628906e+02, 2.11289062e+02, 1.89667969e+02, 8.96484375e+00,
       8.34960938e+01, 1.43261719e+02, 3.59648438e+02, 1.00195312e+01,
       8.36718750e+01, 3.32226562e+01, 1.23046875e+00, 1.43964844e+02,
       1.86679688e+02, 1.89492188e+02, 8.49023438e+01, 2.74746094e+02,
       1.88964844e+02, 4.14843750e+01, 6.55664062e+01, 6.53906250e+01,
       3.53496094e+02, 1.50820312e+02, 1.81054688e+02, 6.41601562e+01,
       1.80527344e+02, 1.52753906e+02, 2.53828125e+02, 1.09863281e+02,
       1.50996094e+02, 1.53808594e+02, 2.09179688e+01, 2.53476562e+02,
       2.31679688e+02, 5.46679688e+01, 8.57812500e+01, 1.80878906e+02,
       1.87031250e+02, 2.61914062e+01, 1.93710938e+02, 8.10351562e+01,
       3.48046875e+02, 1.59082031e+02, 2.04257812e+02, 1.99687500e+02,
       2.07421875e+02, 2.49609375e+01, 1.86152344e+02, 1.81757812e+02,
       1.65761719e+02, 1.84218750e+02, 2.65957031e+02, 1.24628906e+02,
       3.01464844e+02, 1.84570312e+02, 2.45039062e+02, 2.44335938e+01,
       1.47656250e+01, 2.96718750e+02, 9.38671875e+01, 2.16914062e+02,
       2.09003906e+02, 2.75976562e+02, 2.22363281e+02, 3.00410156e+02,
       2.08828125e+02, 9.36914062e+01, 2.75800781e+02, 4.42968750e+01,
       3.00761719e+02, 9.15820312e+01, 2.03027344e+02, 2.05488281e+02,
       2.81074219e+02, 8.84179688e+01, 8.80664062e+01, 7.91015625e+00,
       9.31640625e+00, 3.22910156e+02, 4.81640625e+01, 2.49082031e+02,
       1.01953125e+02, 1.08808594e+02, 6.85546875e+00, 2.58750000e+02,
       2.48906250e+02, 9.08789062e+01, 3.01289062e+02, 1.20937500e+02,
       1.79824219e+02, 1.22519531e+02, 1.91953125e+02, 3.58066406e+02,
       3.51035156e+02, 1.50644531e+02, 1.58203125e+01, 1.66640625e+02,
       1.50292969e+02, 7.69921875e+01, 1.24804688e+01, 2.44863281e+02,
       4.58789062e+01, 1.90195312e+02, 2.76152344e+02, 2.53300781e+02,
       6.36328125e+01, 1.34121094e+02, 2.16738281e+02, 1.87910156e+02,
       1.86855469e+02, 1.28671875e+02, 6.97851562e+01, 6.11718750e+01,
       1.30429688e+02, 8.59570312e+01, 1.74726562e+02, 2.20957031e+02,
       4.30664062e+01, 2.57519531e+02, 1.57500000e+02, 2.21835938e+02,
       2.57871094e+02, 1.81933594e+02, 2.16210938e+02, 1.01250000e+02,
       1.85625000e+02, 1.94765625e+02, 1.49414062e+02, 1.01425781e+02,
       2.50312500e+02, 2.09179688e+02, 1.95292969e+02, 2.09531250e+02,
       2.55058594e+02, 5.11523438e+01, 2.35371094e+02, 2.70351562e+02,
       2.00390625e+02, 3.54199219e+02, 2.49257812e+02, 2.11816406e+02,
       2.43984375e+02, 2.14980469e+02, 3.11132812e+01, 2.77207031e+02,
       2.10937500e+01, 8.61328125e+00, 3.23789062e+02, 2.28515625e+02,
       1.49765625e+02, 1.92128906e+02, 3.50683594e+02, 2.33437500e+02,
       1.38867188e+01, 1.21289062e+01, 4.07812500e+01, 2.25878906e+02,
       1.43613281e+02, 1.88261719e+02, 4.44726562e+01, 6.45117188e+01,
       3.23085938e+02, 1.02656250e+02, 1.81054688e+01, 2.68769531e+02,
       2.53125000e+02, 1.29023438e+02, 3.23964844e+02, 2.63671875e+00,
       3.39785156e+02, 1.83867188e+02, 7.76953125e+01, 1.81406250e+02,
       2.71757812e+02, 1.28496094e+02, 2.21484375e+01, 1.47304688e+02,
       2.32734375e+02, 2.51718750e+02, 7.34765625e+01, 2.46093750e+01,
       9.42187500e+01, 9.40429688e+01, 2.75625000e+02, 1.83339844e+02,
       1.01777344e+02, 2.35546875e+02, 9.00000000e+01, 3.76171875e+01,
       2.70527344e+02, 3.04101562e+01, 3.47871094e+02, 3.23261719e+02,
       1.43789062e+02, 2.66835938e+02, 3.48222656e+02, 1.95996094e+02,
       3.09375000e+01, 2.20781250e+02, 1.48535156e+02, 1.21640625e+02,
       5.71289062e+01, 2.39941406e+02, 5.85351562e+01, 2.43105469e+02,
       2.50839844e+02, 1.23046875e+01, 9.66796875e+00, 1.85449219e+02,
       1.02480469e+02, 1.28847656e+02, 2.55585938e+02, 2.22714844e+02,
       8.98242188e+01, 5.50195312e+01, 8.17382812e+01, 3.48925781e+02,
       7.80468750e+01, 1.07929688e+02, 1.27265625e+02, 1.09687500e+02,
       2.07070312e+02, 1.02832031e+02, 2.19375000e+02, 3.57714844e+02,
       1.82812500e+02, 2.62441406e+02, 3.22207031e+02, 3.53671875e+02,
       3.48574219e+02, 2.72460938e+02, 3.00937500e+02, 8.94726562e+01,
       1.15664062e+02, 1.79648438e+02, 8.71875000e+01, 8.70117188e+01,
       2.17617188e+02, 4.18359375e+01, 2.15156250e+02, 1.18476562e+02,
       3.53847656e+02, 3.33984375e+01, 1.80000000e+02, 3.63867188e+01,
       2.26230469e+02, 6.50390625e+01, 3.56308594e+02, 2.47851562e+01,
       2.51191406e+02, 1.82460938e+02, 4.46484375e+01, 6.46875000e+01,
       7.03125000e+01, 4.60546875e+01, 1.90371094e+02, 2.73867188e+02,
       1.59257812e+02, 2.53652344e+02, 1.75781250e+01, 2.67187500e+02,
       7.41796875e+01, 2.62968750e+02, 5.76562500e+01, 1.66113281e+02,
       5.13281250e+01, 5.06250000e+01, 4.79882812e+01, 1.59609375e+02,
       1.57675781e+02, 1.51347656e+02, 1.91250000e+02, 1.25683594e+02,
       2.96542969e+02, 3.58593750e+02, 2.66132812e+02, 3.51562500e-01,
       2.12343750e+02, 2.10410156e+02, 2.00917969e+02, 2.67714844e+02,
       5.80078125e+00, 1.82988281e+02, 1.48359375e+02, 6.67968750e+00,
       3.53320312e+01, 2.07949219e+02, 3.81445312e+01, 1.82285156e+02,
       2.51367188e+02, 4.50000000e+01, 1.90019531e+02, 2.45214844e+02,
       2.07246094e+02, 2.27636719e+02, 6.24023438e+01, 1.70332031e+02,
       2.63144531e+02, 1.45195312e+02, 5.53710938e+01, 8.61328125e+01,
       1.31132812e+02, 1.05117188e+02, 2.80722656e+02, 5.18554688e+01,
       7.98046875e+01, 4.65820312e+01, 1.85800781e+02, 1.07402344e+02,
       3.22558594e+02, 6.06445312e+01, 4.13085938e+01, 6.04687500e+01,
       5.29101562e+01, 3.99023438e+01, 2.30449219e+02, 2.50488281e+02,
       1.87734375e+02, 4.93945312e+01, 3.55078125e+02, 8.92968750e+01,
       2.72109375e+02, 8.77148438e+01, 8.73632812e+01, 1.14257812e+01,
       8.56054688e+01, 2.12695312e+02, 1.47480469e+02, 1.98457031e+02,
       5.09765625e+00, 1.51699219e+02, 1.79296875e+02, 3.37500000e+01,
       5.88867188e+01, 4.28906250e+01, 2.76503906e+02, 1.05820312e+02,
       2.76679688e+02, 1.53281250e+02, 9.17578125e+01, 3.23437500e+02,
       6.25781250e+01, 6.20507812e+01, 1.88085938e+01, 1.52050781e+02,
       3.52441406e+02, 1.04062500e+02, 1.04589844e+02, 1.69101562e+02,
       5.15039062e+01, 2.56113281e+02, 3.42597656e+02, 4.34179688e+01,
       1.91425781e+02, 1.84394531e+02, 5.25585938e+01, 1.48886719e+02,
       2.64375000e+02, 1.95644531e+02, 3.62109375e+01, 3.37324219e+02,
       3.54902344e+02, 1.95468750e+02, 3.91992188e+01, 8.75390625e+01,
       1.45371094e+02, 5.39648438e+01, 3.23613281e+02, 1.18828125e+02,
       2.11992188e+02, 2.78789062e+02, 2.42578125e+02, 3.55957031e+02,
       6.57421875e+01, 1.54863281e+02, 4.92187500e+01, 6.18750000e+01,
       1.30078125e+02, 2.13750000e+02, 5.67773438e+01, 8.54296875e+01,
       2.33085938e+02, 2.60507812e+02, 2.95488281e+02, 1.36933594e+02,
       3.48750000e+02, 1.31484375e+02, 2.36250000e+02, 2.71582031e+02,
       7.87500000e+01, 2.20078125e+02, 1.65937500e+02, 7.62890625e+01,
       7.57617188e+01, 1.46074219e+02, 2.71054688e+02, 1.25156250e+02,
       1.65234375e+02, 1.48710938e+02, 3.20625000e+02, 9.43945312e+01,
       8.45507812e+01, 1.44140625e+02, 1.50117188e+02, 4.72851562e+01,
       6.15234375e+00, 7.55859375e+00, 1.16015625e+01, 1.52402344e+02,
       4.35937500e+01, 1.27441406e+02, 4.71093750e+01, 2.01269531e+02,
       1.27968750e+02, 4.85156250e+01, 1.67343750e+02, 5.99414062e+01,
       5.94140625e+01, 2.59453125e+02, 1.67871094e+02, 7.92773438e+01,
       7.91015625e+01, 4.76367188e+01, 1.06875000e+02, 2.22011719e+02])

In [78]:
scenario["bds50_track"].unique()

array([         nan,  66.796875  , 219.375     , 357.01171875,
       230.80078125, 280.72265625,  36.38671875, 255.76171875,
       181.23046875,  43.06640625,  17.578125  ,  24.43359375,
       307.08984375, 307.265625  , 243.10546875,  97.91015625,
       184.74609375,  24.609375  , 244.86328125, 286.69921875,
        65.7421875 , 263.14453125, 179.47265625,   8.7890625 ,
         4.921875  , 307.6171875 ,  89.296875  ,  20.7421875 ,
       265.078125  , 229.39453125, 174.7265625 ,   8.96484375,
        65.91796875,  66.97265625,  23.203125  , 212.87109375,
       203.37890625,   7.20703125, 190.546875  , 217.79296875,
        31.11328125, 157.67578125, 300.9375    , 217.6171875 ,
       205.48828125,   0.        , 193.53515625, 221.8359375 ,
       179.82421875, 307.44140625,  20.91796875, 142.20703125,
       190.1953125 ,  29.8828125 , 244.16015625, 286.5234375 ,
       254.1796875 ,  20.0390625 , 184.5703125 ,  33.75      ,
       209.35546875, 206.015625  , 230.625     , 174.375     ,
       142.3828125 ,  24.2578125 , 232.55859375, 207.94921875,
       254.00390625,   9.66796875, 211.9921875 ,  81.38671875,
       243.984375  , 157.5       ,  32.6953125 , 270.703125  ,
       357.1875    ,  76.11328125, 276.6796875 , 232.3828125 ,
       269.6484375 , 233.7890625 , 142.03125   , 282.48046875,
       112.8515625 ,   8.61328125,  98.0859375 , 212.6953125 ,
       301.11328125, 306.9140625 , 250.13671875, 219.19921875,
       230.9765625 , 205.83984375, 253.4765625 ,  19.51171875,
       206.3671875 ,  63.984375  , 179.6484375 ,  81.5625    ,
       104.4140625 , 322.3828125 , 356.8359375 , 211.81640625,
        17.75390625,  58.7109375 , 141.328125  , 180.3515625 ,
       355.25390625, 104.58984375, 354.375     , 246.09375   ,
       253.828125  , 218.49609375, 280.546875  ,  20.21484375,
        76.2890625 , 122.6953125 ,  77.87109375, 120.234375  ,
       193.359375  ,   2.8125    , 185.2734375 ,   9.140625  ,
       260.33203125, 351.9140625 , 268.2421875 , 189.84375   ,
       234.31640625, 122.51953125, 268.06640625,  30.05859375,
       184.39453125, 206.54296875, 229.921875  , 177.71484375,
        90.3515625 ,   0.703125  ,  75.76171875, 218.84765625,
        36.5625    , 190.8984375 , 188.7890625 , 104.23828125,
       221.66015625, 141.6796875 , 184.921875  , 162.0703125 ,
        97.734375  , 143.96484375, 250.48828125,  23.02734375,
         7.91015625, 280.8984375 ,  90.        ,  84.19921875,
       192.3046875 , 157.8515625 , 234.4921875 , 235.1953125 ,
       241.5234375 , 272.98828125, 270.87890625,  81.9140625 ,
        75.9375    , 276.85546875, 208.4765625 ,  32.34375   ,
        11.07421875, 211.46484375, 270.52734375,  33.046875  ,
        34.62890625, 188.26171875,  89.47265625, 190.01953125,
       161.54296875, 249.78515625,  17.40234375,  65.21484375,
       281.42578125,  64.3359375 , 255.5859375 ,  21.09375   ,
       161.89453125, 174.19921875, 254.53125   , 253.65234375,
       142.91015625,  60.1171875 , 121.11328125, 104.765625  ,
       244.6875    , 213.046875  ,  58.88671875, 254.70703125,
       200.91796875, 351.73828125, 102.83203125, 230.44921875,
       220.60546875,  58.359375  , 144.66796875, 220.4296875 ,
       178.9453125 , 185.80078125, 250.3125    , 189.66796875,
       211.640625  , 242.9296875 ,   5.80078125, 190.72265625,
        85.60546875,  44.6484375 ,  43.2421875 , 195.99609375,
         0.87890625, 248.90625   ,  32.51953125, 161.71875   ,
       233.96484375, 141.85546875, 187.3828125 , 185.9765625 ,
       301.2890625 ,  16.875     , 242.75390625, 233.61328125,
       281.25      , 189.31640625, 196.875     ,  22.8515625 ,
       174.0234375 , 189.140625  , 158.02734375,  54.84375   ,
       174.90234375, 217.44140625, 352.44140625, 243.80859375,
        33.92578125,  44.47265625, 201.26953125, 214.98046875,
       267.890625  , 212.51953125, 162.59765625, 261.03515625,
       175.078125  ,  89.82421875, 254.35546875, 174.55078125,
       142.734375  , 186.15234375, 323.0859375 , 253.30078125,
        11.42578125,  81.2109375 ,  12.83203125, 322.734375  ,
       186.50390625,  40.95703125, 246.26953125, 181.40625   ,
        64.16015625,  47.8125    , 265.25390625, 100.01953125,
       159.08203125, 180.87890625, 184.21875   , 270.3515625 ,
       259.8046875 , 175.60546875, 189.4921875 ,  87.5390625 ,
       193.7109375 , 178.59375   ,  83.49609375, 205.6640625 ,
        82.44140625, 234.66796875,  35.68359375, 206.89453125,
       191.953125  , 191.25      , 277.55859375, 229.21875   ,
       239.94140625,  39.0234375 , 253.125     ,  45.703125  ,
       233.4375    , 279.4921875 , 146.42578125,  98.26171875,
       243.6328125 , 260.5078125 , 180.17578125,  52.55859375,
       173.84765625, 353.14453125, 121.9921875 ,  64.86328125,
        49.5703125 , 104.94140625, 300.76171875, 118.4765625 ,
       200.390625  , 149.765625  , 148.88671875, 243.45703125,
       182.109375  , 162.421875  ,  90.17578125,  87.890625  ,
       190.37109375, 268.41796875,   9.84375   , 109.16015625,
       195.8203125 ,  37.265625  , 186.328125  , 185.625     ,
        73.125     ,  16.171875  ,  23.5546875 , 181.93359375,
        42.36328125, 117.24609375, 251.19140625, 140.9765625 ,
       216.9140625 , 141.50390625, 153.10546875,  46.23046875,
        58.53515625, 148.53515625,   5.9765625 ,   8.26171875,
        13.18359375, 180.        , 179.12109375,  21.4453125 ,
        22.5       ,  98.7890625 , 119.8828125 , 141.15234375,
        99.4921875 , 188.96484375, 254.8828125 , 218.14453125,
        52.734375  , 101.6015625 , 101.77734375, 321.50390625,
       234.140625  ,  88.59375   , 144.140625  , 194.765625  ,
        87.1875    ,  84.90234375,  83.14453125, 211.2890625 ,
       215.15625   , 269.12109375, 249.2578125 , 276.50390625,
        46.93359375,  62.05078125, 206.19140625,  99.84375   ,
       231.328125  ,  45.3515625 , 260.859375  ,  20.56640625,
         0.52734375, 220.078125  , 217.08984375, 198.984375  ,
       276.15234375,  88.76953125, 246.4453125 ,  81.73828125,
       322.55859375,  77.16796875, 249.43359375, 142.55859375,
        65.390625  , 215.5078125 , 275.2734375 ,  51.6796875 ,
        57.3046875 , 355.078125  ,  56.6015625 , 137.28515625,
       124.98046875,  89.6484375 , 323.7890625 ,  40.4296875 ,
       117.0703125 , 200.7421875 , 268.59375   , 105.46875   ,
       229.74609375, 321.6796875 , 207.0703125 ,   6.85546875,
       233.0859375 , 263.671875  ,  46.0546875 , 323.4375    ,
       354.19921875, 161.19140625, 321.85546875,  51.85546875,
        78.22265625,  48.69140625, 331.5234375 ,  41.30859375,
        40.25390625, 258.75      ])

In [80]:
scenario["bds45_radio_height"].unique()

array([   nan,     0., 65024., 56944., 65136.])

In [70]:
scenario["groundspeed"].unique()

array([         nan, 388.17135391, 479.74159711, ..., 364.80268639,
       332.74164152, 447.83255799], shape=(1886,))

In [73]:
scenario["bds50_groundspeed"].unique()

array([ nan, 508., 400., 452., 380., 306., 402., 388.,  46., 344., 512.,
       484., 434., 404., 252., 418., 430., 398., 444.,  10., 478., 474.,
       374., 496., 228., 290., 326., 506., 482., 396., 240., 476., 372.,
       192., 390., 494., 334., 382., 244., 416., 406., 218., 442.,   6.,
         0., 256., 480., 312., 350., 386., 392., 490., 534., 424.,  36.,
       436., 486., 330., 428., 384., 530., 446., 348., 408., 176., 236.,
       346., 206., 450., 504., 394., 426., 532., 270., 454., 180., 500.,
       468., 536.,  18., 456., 190., 170., 410., 432., 324., 356., 492.,
       470., 502., 420., 188., 460., 172.,  14., 360., 522., 210., 422.,
       212.,  12., 242., 168., 378., 510., 196., 292., 310., 294.,  24.,
       222., 220., 296., 214., 314., 254., 514., 316., 488., 130., 208.,
       302., 132., 174.,   2.,  28., 370., 322., 438., 286., 158., 472.,
       238., 200., 538., 328., 364., 516., 164., 440., 308., 354., 318.,
       300., 248., 178., 246., 280., 376., 320.,   8., 358., 166., 448.,
        20., 224., 100., 352., 138., 258., 156., 202., 366.,  16.,  26.,
       128., 232., 154., 262., 264., 274., 260., 234., 194., 288., 332.,
       298., 340., 266., 282., 182., 204., 524., 518., 412., 250., 336.,
         4., 278., 368., 304., 414., 498., 464., 520., 216., 528., 458.,
       526., 226.,  34., 342., 186.,  22.])

In [137]:
first_day_last_hour["groundspeed"]["bds"]

array([         nan, 467.64195706,  21.        , ..., 160.41508657,
       154.45711379, 287.00174215], shape=(9565,))

In [130]:
first_day_last_hour[first_day_last_hour['df'] == '17']

,df,squawk,bds60_bds,bds60_heading,bds60_IAS,bds60_Mach,bds60_vrate_barometric,bds60_vrate_inertial,icao24,ts,...,bds05_NICb,bds05_altitude,bds05_source,bds05_parity,bds05_lat_cpr,bds05_lon_cpr,bds40_target_source,bds21_bds,bds21_registration,bds17_bds53
1,17,None,None,NaN,NaN,NaN,NaN,NaN,407e63,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
2,17,None,None,NaN,NaN,NaN,NaN,NaN,3c5429,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
10,17,None,None,NaN,NaN,NaN,NaN,NaN,341682,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
11,17,None,None,NaN,NaN,NaN,NaN,NaN,3c5429,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
17,17,None,None,NaN,NaN,NaN,NaN,NaN,e80447,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417517,17,None,None,NaN,NaN,NaN,NaN,NaN,4ac8f6,1731801599678,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417519,17,None,None,NaN,NaN,NaN,NaN,NaN,407797,1731801599678,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417520,17,None,None,NaN,NaN,NaN,NaN,NaN,347519,1731801599678,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417521,17,6273,None,NaN,NaN,NaN,NaN,NaN,502ce3,1731801599678,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417522,17,None,None,NaN,NaN,NaN,NaN,NaN,34644c,1731801599678,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None

In [96]:
scenario.plot("altitude", "lon_deg", "lat_deg")

ValueError: lat_deg is not a valid plot kind Valid plot kinds: ('line', 'bar', 'barh', 'kde', 'density', 'area', 'hist', 'box', 'pie', 'scatter', 'hexbin')

In [98]:
scenario.dropna(axis=1, how='all')

,df,squawk,bds60_bds,bds60_heading,bds60_IAS,bds60_Mach,bds60_vrate_barometric,bds60_vrate_inertial,icao24,ts,...,bds17_bds42,bds17_bds44,bds17_bds48,bds21_bds,bds21_registration,bds17_bds45,year,month,day,hour
473055,20,<NA>,60,232.207031,263.0,0.776,-288.0,0.0,344699,1737545255855,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473056,21,4516,<NA>,NaN,NaN,NaN,NaN,NaN,407fc1,1737545255855,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473057,21,2203,<NA>,NaN,NaN,NaN,NaN,NaN,3964f1,1737545255855,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473058,20,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,49514b,1737545255855,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473059,21,6012,<NA>,NaN,NaN,NaN,NaN,NaN,344345,1737545255855,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679258,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,343141,1737545375089,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679259,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,3991e2,1737545375089,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679260,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,346384,1737545375089,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679261,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,346555,1737545375089,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679262,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,34754c,1737545375089,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11

In [102]:
sorted(scenario.dropna(axis=1, how='all').columns.tolist())

['BAI',
 'GVA',
 'HRD',
 'NACp',
 'NACv',
 'NICa',
 'NICb',
 'NUCp',
 'SIL',
 'SILs',
 'TAH',
 'alt_hold',
 'altitude',
 'approach_mode',
 'autopilot',
 'barometric_setting',
 'bds',
 'bds05_NICb',
 'bds05_NUCp',
 'bds05_altitude',
 'bds05_lat_cpr',
 'bds05_lon_cpr',
 'bds05_parity',
 'bds05_source',
 'bds05_tc',
 'bds10_acas',
 'bds10_acas_hybrid',
 'bds10_acas_ra',
 'bds10_bds',
 'bds10_config',
 'bds10_dte',
 'bds10_gicb',
 'bds10_identification',
 'bds10_level5',
 'bds10_mode_s',
 'bds10_ovc',
 'bds10_sic',
 'bds10_squitter',
 'bds10_subnet',
 'bds17_bds',
 'bds17_bds05',
 'bds17_bds06',
 'bds17_bds07',
 'bds17_bds08',
 'bds17_bds09',
 'bds17_bds0a',
 'bds17_bds20',
 'bds17_bds21',
 'bds17_bds40',
 'bds17_bds41',
 'bds17_bds42',
 'bds17_bds44',
 'bds17_bds45',
 'bds17_bds48',
 'bds17_bds50',
 'bds17_bds51',
 'bds17_bds52',
 'bds17_bds53',
 'bds17_bds5f',
 'bds17_bds60',
 'bds20_bds',
 'bds20_callsign',
 'bds21_bds',
 'bds21_registration',
 'bds40_barometric_setting',
 'bds40_bds',
 'bds40_selected_fms',
 'bds40_selected_mcp',
 'bds40_target_source',
 'bds44_bds',
 'bds44_temperature',
 'bds44_wind_direction',
 'bds44_wind_speed',
 'bds45_bds',
 'bds45_icing',
 'bds45_microburst',
 'bds45_radio_height',
 'bds45_static_pressure',
 'bds45_static_temperature',
 'bds45_turbulence',
 'bds45_wake_vortex',
 'bds45_wind_shear',
 'bds50_TAS',
 'bds50_bds',
 'bds50_groundspeed',
 'bds50_roll',
 'bds50_track',
 'bds50_track_rate',
 'bds60_IAS',
 'bds60_Mach',
 'bds60_bds',
 'bds60_heading',
 'bds60_vrate_barometric',
 'bds60_vrate_inertial',
 'callsign',
 'day',
 'df',
 'emergency_state',
 'geo_minus_baro',
 'groundspeed',
 'hour',
 'icao24',
 'id',
 'lat_cpr',
 'lat_deg',
 'lnav_mode',
 'lon_cpr',
 'lon_deg',
 'month',
 'parity',
 'selected_altitude',
 'selected_heading',
 'source',
 'squawk',
 'subtype',
 'tc',
 'tcas_operational',
 'tisb',
 'track',
 'ts',
 'version',
 'vertical_rate',
 'vnav_mode',
 'vrate_src',
 'wake_vortex',
 'year']