In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [2]:
# Load the geometries
runways = gpd.read_file('engage-hackaton/runways.geojson')
thresholds = gpd.read_file('engage-hackaton/thresholds.geojson')

# Load the scenario
scenario = pd.read_parquet('engage-hackaton/samples/sample_scenario_00.parquet')
scenario

,df,squawk,bds60_bds,bds60_heading,bds60_IAS,bds60_Mach,bds60_vrate_barometric,bds60_vrate_inertial,icao24,ts,...,heading,TAS,bds30_bds,bds30_issued_ra,bds30_terminated,bds30_multiple,year,month,day,hour
473055,20,<NA>,60,232.207031,263.0,0.776,-288.0,0.0,344699,1737545255855,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473056,21,4516,<NA>,NaN,NaN,NaN,NaN,NaN,407fc1,1737545255855,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473057,21,2203,<NA>,NaN,NaN,NaN,NaN,NaN,3964f1,1737545255855,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473058,20,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,49514b,1737545255855,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473059,21,6012,<NA>,NaN,NaN,NaN,NaN,NaN,344345,1737545255855,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679258,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,343141,1737545375089,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679259,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,3991e2,1737545375089,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679260,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,346384,1737545375089,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679261,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,346555,1737545375089,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679262,17,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,34754c,1737545375089,...,NaN,NaN,<NA>,<NA>,<NA>,<NA>,2025,1,22,11

In [3]:
first_day_last_hour = pd.read_parquet('data/year=2024/month=11/day=16/hour=23/7fa82f924eb24a429fa321d057d2efd5.snappy.parquet')
first_day_last_hour

,df,squawk,bds60_bds,bds60_heading,bds60_IAS,bds60_Mach,bds60_vrate_barometric,bds60_vrate_inertial,icao24,ts,...,bds05_NICb,bds05_altitude,bds05_source,bds05_parity,bds05_lat_cpr,bds05_lon_cpr,bds40_target_source,bds21_bds,bds21_registration,bds17_bds53
0,21,3352,60,67.148438,245.0,0.744,32.0,0.0,4ca25a,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
1,17,None,None,NaN,NaN,NaN,NaN,NaN,407e63,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
2,17,None,None,NaN,NaN,NaN,NaN,NaN,3c5429,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
3,20,None,None,NaN,NaN,NaN,NaN,NaN,4ca25a,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
4,20,None,None,NaN,NaN,NaN,NaN,NaN,4ca9c1,1731798000264,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417523,20,None,60,0.527344,NaN,NaN,NaN,NaN,342107,1731801599678,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417524,21,2000,60,NaN,NaN,NaN,NaN,0.0,342107,1731801599678,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417525,20,None,None,NaN,NaN,NaN,NaN,NaN,342107,1731801599678,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417526,20,None,60,0.527344,NaN,NaN,NaN,NaN,344498,1731801599679,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None
417527,20,None,None,NaN,NaN,NaN,NaN,NaN,346385,1731801599679,...,NaN,NaN,None,None,NaN,NaN,None,None,None,None

In [4]:
print(sorted(first_day_last_hour.columns.tolist()))
print(sorted(scenario.columns.tolist()))

['BAI', 'GVA', 'HRD', 'NACp', 'NACv', 'NICa', 'NICb', 'NUCp', 'SIL', 'SILs', 'TAH', 'alt_hold', 'altitude', 'approach_mode', 'autopilot', 'barometric_setting', 'bds', 'bds05_NICb', 'bds05_NUCp', 'bds05_altitude', 'bds05_lat_cpr', 'bds05_lon_cpr', 'bds05_parity', 'bds05_source', 'bds05_tc', 'bds10_acas', 'bds10_acas_hybrid', 'bds10_acas_ra', 'bds10_bds', 'bds10_config', 'bds10_dte', 'bds10_gicb', 'bds10_identification', 'bds10_level5', 'bds10_mode_s', 'bds10_ovc', 'bds10_sic', 'bds10_squitter', 'bds10_subnet', 'bds17_bds', 'bds17_bds05', 'bds17_bds06', 'bds17_bds07', 'bds17_bds08', 'bds17_bds09', 'bds17_bds0a', 'bds17_bds20', 'bds17_bds21', 'bds17_bds40', 'bds17_bds41', 'bds17_bds42', 'bds17_bds43', 'bds17_bds44', 'bds17_bds48', 'bds17_bds50', 'bds17_bds51', 'bds17_bds52', 'bds17_bds53', 'bds17_bds5f', 'bds17_bds60', 'bds20_bds', 'bds20_callsign', 'bds21_bds', 'bds21_registration', 'bds40_barometric_setting', 'bds40_bds', 'bds40_selected_fms', 'bds40_selected_mcp', 'bds40_target_source', 'bds44_bds', 'bds44_humidity', 'bds44_pressure', 'bds44_temperature', 'bds44_turbulence', 'bds44_wind_direction', 'bds44_wind_speed', 'bds45_bds', 'bds45_icing', 'bds45_microburst', 'bds45_radio_height', 'bds45_static_pressure', 'bds45_static_temperature', 'bds45_turbulence', 'bds45_wake_vortex', 'bds45_wind_shear', 'bds50_TAS', 'bds50_bds', 'bds50_groundspeed', 'bds50_roll', 'bds50_track', 'bds50_track_rate', 'bds60_IAS', 'bds60_Mach', 'bds60_bds', 'bds60_heading', 'bds60_vrate_barometric', 'bds60_vrate_inertial', 'callsign', 'df', 'emergency_state', 'geo_minus_baro', 'groundspeed', 'icao24', 'id', 'lat_cpr', 'lat_deg', 'lnav_mode', 'lon_cpr', 'lon_deg', 'parity', 'selected_altitude', 'selected_heading', 'source', 'squawk', 'subtype', 'tc', 'tcas_operational', 'tisb', 'track', 'ts', 'version', 'vertical_rate', 'vnav_mode', 'vrate_src', 'wake_vortex']
['BAI', 'BAQ', 'GVA', 'HRD', 'NACp', 'NACv', 'NICa', 'NICb', 'NICs', 'NUCp', 'SIL', 'SILs', 'TAH', 'TAS', 'alt_hold', 'altitude', 'approach_mode', 'autopilot', 'barometric_setting', 'bds', 'bds05_NICb', 'bds05_NUCp', 'bds05_altitude', 'bds05_lat_cpr', 'bds05_lon_cpr', 'bds05_parity', 'bds05_source', 'bds05_tc', 'bds10_acas', 'bds10_acas_hybrid', 'bds10_acas_ra', 'bds10_bds', 'bds10_config', 'bds10_dte', 'bds10_gicb', 'bds10_identification', 'bds10_level5', 'bds10_mode_s', 'bds10_ovc', 'bds10_sic', 'bds10_squitter', 'bds10_subnet', 'bds17_bds', 'bds17_bds05', 'bds17_bds06', 'bds17_bds07', 'bds17_bds08', 'bds17_bds09', 'bds17_bds0a', 'bds17_bds20', 'bds17_bds21', 'bds17_bds40', 'bds17_bds41', 'bds17_bds42', 'bds17_bds44', 'bds17_bds45', 'bds17_bds48', 'bds17_bds50', 'bds17_bds51', 'bds17_bds52', 'bds17_bds53', 'bds17_bds5f', 'bds17_bds60', 'bds18_bds', 'bds18_bds05', 'bds18_bds06', 'bds18_bds07', 'bds18_bds08', 'bds18_bds09', 'bds18_bds0a', 'bds18_bds10', 'bds18_bds17', 'bds18_bds18', 'bds18_bds19', 'bds18_bds1c', 'bds18_bds20', 'bds18_bds21', 'bds18_bds30', 'bds19_bds', 'bds19_bds40', 'bds19_bds50', 'bds19_bds51', 'bds19_bds52', 'bds19_bds5f', 'bds19_bds60', 'bds19_bds61', 'bds19_bds62', 'bds19_bds65', 'bds20_bds', 'bds20_callsign', 'bds21_bds', 'bds21_registration', 'bds30_bds', 'bds30_issued_ra', 'bds30_multiple', 'bds30_terminated', 'bds40_barometric_setting', 'bds40_bds', 'bds40_selected_fms', 'bds40_selected_mcp', 'bds40_target_source', 'bds44_bds', 'bds44_humidity', 'bds44_pressure', 'bds44_temperature', 'bds44_turbulence', 'bds44_wind_direction', 'bds44_wind_speed', 'bds45_bds', 'bds45_icing', 'bds45_microburst', 'bds45_radio_height', 'bds45_static_pressure', 'bds45_static_temperature', 'bds45_turbulence', 'bds45_wake_vortex', 'bds45_wind_shear', 'bds50_TAS', 'bds50_bds', 'bds50_groundspeed', 'bds50_roll', 'bds50_track', 'bds50_track_rate', 'bds60_IAS', 'bds60_Mach', 'bds60_bds', 'bds60_heading', 'bds60_vrate_barometric', 'bds60_vrate_inertial', 'callsign', 'day', 'df', 'emergency_state', 'geo_minus_baro', 'groundspeed', 'heading', 'hour', 'icao24', 'id', 'lat_cpr', 'lat_deg', 'lnav_mode', 'lon_cpr', 'lon_deg', 'month', 'parity', 'selected_altitude', 'selected_heading', 'source', 'squawk', 'subtype', 'tc', 'tcas_operational', 'tisb', 'track', 'ts', 'version', 'vertical_rate', 'vnav_mode', 'vrate_src', 'wake_vortex', 'year']

# Let's see about the DF/BDS

In [5]:
sorted(scenario["bds"].unique().dropna())

['05', '06', '08', '09', '61', '62', '65', 'NoPosition', 'id24']

In [6]:
scenario[scenario['bds'] == '05'].dropna(axis=1, how="all")

,df,icao24,ts,bds,tc,NUCp,NICb,altitude,source,parity,lat_cpr,lon_cpr,lat_deg,lon_deg,year,month,day,hour
473064,17,346316,1737545255855,05,11.0,7.0,0.0,19950.0,barometric,odd,103514.0,66765.0,41.428978,-4.107545,2025,1,22,11
473068,17,02019c,1737545255855,05,11.0,7.0,0.0,37000.0,barometric,odd,81705.0,74558.0,40.413720,-3.527735,2025,1,22,11
473073,17,347219,1737545255855,05,11.0,7.0,0.0,30975.0,barometric,even,112594.0,49372.0,41.154144,-4.986572,2025,1,22,11
473075,17,347691,1737545255855,05,11.0,7.0,0.0,29000.0,barometric,odd,85929.0,108170.0,40.610357,-1.429596,2025,1,22,11
473077,17,34530c,1737545255855,05,11.0,7.0,0.0,22650.0,barometric,odd,101523.0,56241.0,41.336292,-4.671125,2025,1,22,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679233,17,c04fdd,1737545373697,05,11.0,7.0,0.0,3650.0,barometric,odd,82335.0,74475.0,40.443048,-3.532916,2025,1,22,11
679235,17,02019c,1737545374782,05,11.0,7.0,0.0,37000.0,barometric,even,92437.0,70767.0,40.231430,-3.680725,2025,1,22,11
679247,17,346186,1737545375089,05,11.0,7.0,0.0,34975.0,barometric,even,126407.0,62706.0,41.786453,-4.267564,2025,1,22,11
679248,17,342189,1737545375089,05,11.0,7.0,0.0,22625.0,barometric,even,109982.0,91433.0,41.034576,-2.419373,2025,1,22,11
679250,17,4ca757,1737545375089,05,11.0,7.0,0.0,31650.0,barometric,even,111799.0,100438.0,41.117752,-1.869751,2025,1,22,11

In [7]:
scenario[scenario['bds'] == '06'].dropna(axis=1, how="all")

,df,icao24,ts,bds,tc,NUCp,parity,lat_cpr,lon_cpr,lat_deg,lon_deg,groundspeed,track,tisb,year,month,day,hour
473117,17,34644c,1737545256771,06,7.0,7.0,even,129993.0,27119.0,40.487652,-3.586197,18.000,90.0000,<NA>,2025,1,22,11
473174,17,4ba92f,1737545257794,06,7.0,7.0,even,128461.0,28536.0,40.470119,-3.564575,18.000,357.1875,<NA>,2025,1,22,11
473189,17,34644c,1737545257797,06,7.0,7.0,odd,71029.0,32349.0,40.487657,-3.586084,18.000,90.0000,<NA>,2025,1,22,11
473274,18,346253,1737545260248,06,6.0,8.0,even,947.0,27700.0,40.510838,-3.577332,NaN,NaN,ADSB_ES_NT,2025,1,22,11
473297,18,3452ce,1737545260695,06,6.0,8.0,odd,69412.0,33623.0,40.468838,-3.566203,0.000,NaN,ADSB_ES_NT,2025,1,22,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679237,18,34138b,1737545375089,06,8.0,6.0,odd,72928.0,32814.0,40.509757,-3.578828,0.625,NaN,ADSB_ES_NT_ALT,2025,1,22,11
679242,18,346253,1737545375089,06,6.0,8.0,odd,73021.0,32910.0,40.510840,-3.577329,NaN,NaN,ADSB_ES_NT,2025,1,22,11
679249,18,344206,1737545375089,06,8.0,6.0,odd,69201.0,33485.0,40.466382,-3.568356,6.500,233.4375,ADSB_ES_NT_ALT,2025,1,22,11
679255,17,346384,1737545375089,06,7.0,7.0,even,127538.0,28396.0,40.459557,-3.566711,0.000,270.0000,<NA>,2025,1,22,11
679261,17,346555,1737545375089,06,7.0,7.0,even,129823.0,27871.0,40.485706,-3.574722,0.000,233.4375,<NA>,2025,1,22,11

In [8]:
scenario[scenario['bds'] == '08'].dropna(axis=1, how="all")

,df,icao24,ts,bds,tisb,id,wake_vortex,callsign,year,month,day,hour
473108,18,346253,1737545256771,08,ADSB_ES_NT,2.0,Obstruction,FAUNA6,2025,1,22,11
473110,17,346204,1737545256771,08,<NA>,4.0,"<136,000kg",IBE0802,2025,1,22,11
473139,17,4ca80d,1737545257377,08,<NA>,4.0,"<136,000kg",RYR73SN,2025,1,22,11
473155,17,896181,1737545257580,08,<NA>,4.0,Heavy,UAE7AM,2025,1,22,11
473165,18,3452ce,1737545257794,08,ADSB_ES_NT,2.0,Obstruction,OBRAS1,2025,1,22,11
...,...,...,...,...,...,...,...,...,...,...,...,...
679095,17,02019c,1737545369151,08,<NA>,4.0,"<136,000kg",MAC136,2025,1,22,11
679137,18,34138b,1737545369460,08,ADSB_ES_NT_ALT,2.0,Obstruction,P28,2025,1,22,11
679207,17,34520f,1737545371406,08,<NA>,4.0,Heavy,IBE0257,2025,1,22,11
679228,18,341285,1737545372937,08,ADSB_ES_NT_ALT,2.0,Obstruction,OBRAS17,2025,1,22,11
679231,17,34644c,1737545372937,08,<NA>,4.0,"<136,000kg",IBS1545,2025,1,22,11

In [9]:
scenario[scenario['bds'] == '09'].dropna(axis=1, how="all")

,df,icao24,ts,bds,NACv,groundspeed,track,vrate_src,vertical_rate,geo_minus_baro,year,month,day,hour
473060,17,020118,1737545255855,09,1.0,388.171354,212.052321,GNSS,0.0,200.0,2025,1,22,11
473063,17,407eec,1737545255855,09,2.0,479.741597,8.873284,GNSS,0.0,225.0,2025,1,22,11
473067,17,40762c,1737545255855,09,2.0,345.984104,43.008924,GNSS,-384.0,175.0,2025,1,22,11
473071,17,34530e,1737545255855,09,1.0,387.659645,217.874984,barometric,512.0,250.0,2025,1,22,11
473078,17,34530c,1737545255855,09,2.0,422.995272,97.881075,barometric,-1984.0,150.0,2025,1,22,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679238,17,346204,1737545375089,09,1.0,241.298570,300.923035,GNSS,-1024.0,175.0,2025,1,22,11
679254,17,3452c7,1737545375089,09,1.0,332.741642,174.135202,barometric,1472.0,225.0,2025,1,22,11
679257,17,4d2529,1737545375089,09,2.0,492.520050,20.937285,GNSS,0.0,275.0,2025,1,22,11
679258,17,343141,1737545375089,09,1.0,447.832558,17.544832,GNSS,-1536.0,300.0,2025,1,22,11
679259,17,3991e2,1737545375089,09,1.0,483.740633,20.195612,GNSS,-64.0,125.0,2025,1,22,11

In [10]:
scenario[scenario['bds'] == '61'].dropna(axis=1, how="all")

,df,squawk,icao24,ts,bds,subtype,emergency_state,year,month,day,hour
473101,17,4613,347287,1737545256668,61,emergency_priority,none,2025,1,22,11
473119,17,0000,44f682,1737545256771,61,acas_ra,none,2025,1,22,11
473132,17,3222,345388,1737545257175,61,emergency_priority,none,2025,1,22,11
473136,17,4525,48455a,1737545257377,61,emergency_priority,none,2025,1,22,11
473151,17,4033,896181,1737545257580,61,emergency_priority,none,2025,1,22,11
...,...,...,...,...,...,...,...,...,...,...,...
679000,17,2643,346555,1737545364853,61,emergency_priority,none,2025,1,22,11
679089,17,7657,44ce4f,1737545368438,61,emergency_priority,none,2025,1,22,11
679093,17,1173,06a125,1737545369151,61,emergency_priority,none,2025,1,22,11
679143,17,3430,3472cc,1737545370416,61,emergency_priority,none,2025,1,22,11
679196,17,0125,3c667a,1737545371406,61,emergency_priority,none,2025,1,22,11

In [11]:
scenario[scenario['bds'] == '62'].dropna(axis=1, how="all")

,df,icao24,ts,bds,source,selected_altitude,barometric_setting,selected_heading,NACp,tcas_operational,autopilot,vnav_mode,alt_hold,approach_mode,lnav_mode,year,month,day,hour
473062,17,347247,1737545255855,62,MCP/FCU,7000.0,1010.400024,0.000000,9.0,True,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473070,17,407eec,1737545255855,62,MCP/FCU,36000.0,1013.599976,0.000000,10.0,True,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473074,17,342189,1737545255855,62,MCP/FCU,24000.0,1013.599976,NaN,9.0,True,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473081,17,342188,1737545255855,62,MCP/FCU,24000.0,1013.599976,NaN,8.0,True,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
473087,17,896181,1737545256190,62,MCP/FCU,5500.0,1009.599976,195.468750,10.0,True,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679206,17,34754c,1737545371406,62,MCP/FCU,33000.0,1012.799988,NaN,9.0,True,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679230,17,4d2529,1737545372937,62,MCP/FCU,36000.0,1012.799988,NaN,9.0,True,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679239,17,344449,1737545375089,62,MCP/FCU,24000.0,1012.799988,NaN,9.0,True,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679246,17,4ca757,1737545375089,62,MCP/FCU,38000.0,1013.599976,NaN,9.0,True,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11
679256,17,347307,1737545375089,62,MCP/FCU,37000.0,1013.599976,217.265625,8.0,True,<NA>,<NA>,<NA>,<NA>,<NA>,2025,1,22,11

In [12]:
scenario[scenario['bds'] == '65'].dropna(axis=1, how="all")

,df,icao24,ts,bds,NACp,tisb,version,NICa,GVA,SIL,BAI,HRD,SILs,TAH,year,month,day,hour
473123,17,3964f1,1737545256771,65,9.0,<NA>,2,0.0,2.0,3.0,1.0,0.0,0.0,NaN,2025,1,22,11
473177,17,4ca80d,1737545257794,65,8.0,<NA>,2,0.0,1.0,3.0,1.0,0.0,0.0,NaN,2025,1,22,11
473182,17,4b17fb,1737545257794,65,11.0,<NA>,2,0.0,2.0,3.0,1.0,0.0,0.0,NaN,2025,1,22,11
473192,17,34644c,1737545258440,65,9.0,<NA>,2,0.0,NaN,3.0,NaN,0.0,0.0,1.0,2025,1,22,11
473231,17,02019c,1737545259526,65,9.0,<NA>,2,0.0,2.0,3.0,1.0,0.0,0.0,NaN,2025,1,22,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
679167,17,347219,1737545370682,65,9.0,<NA>,2,0.0,2.0,3.0,1.0,0.0,0.0,NaN,2025,1,22,11
679215,17,346384,1737545372937,65,9.0,<NA>,2,0.0,NaN,3.0,NaN,1.0,0.0,1.0,2025,1,22,11
679252,18,34138b,1737545375089,65,7.0,ADSB_ES_NT_ALT,2,0.0,NaN,0.0,NaN,0.0,0.0,0.0,2025,1,22,11
679260,17,346384,1737545375089,65,9.0,<NA>,2,0.0,NaN,3.0,NaN,1.0,0.0,1.0,2025,1,22,11
679262,17,34754c,1737545375089,65,9.0,<NA>,2,0.0,2.0,3.0,1.0,0.0,0.0,NaN,2025,1,22,11

In [16]:
scenario["vrate_src"].unique()

<StringArray>
[<NA>, 'GNSS', 'barometric']
Length: 3, dtype: string